extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at libero rutrum, viverra sem volutpat, pulvinar magna. Aenean et mattis ipsum. Phasellus fringilla blandit diam in efficitur. Praesent ac metus at ex rhoncus pretium sed vel elit. Morbi sit amet nunc et lorem laoreet tincidunt.
                p Suspendisse in nisl id odio ullamcorper ullamcorper vitae vel nibh. Nam fermentum sed quam at iaculis. Sed eleifend purus ut mi luctus fermentum. Nulla condimentum sagittis orci ut feugiat. Suspendisse eu ornare massa. Donec porttitor aliquam sem, eu porttitor erat interdum vel. Donec id eleifend augue. Quisque euismod iaculis tincidunt.
                p Nunc ex lectus, tempus at pellentesque a, semper a dolor. Nunc aliquam ultrices ullamcorper. In hac habitasse platea dictumst. Etiam ac scelerisque sem. Nunc mattis, dolor mollis auctor porttitor, nunc purus mattis arcu, vel sagittis enim libero sit amet mauris. Ut malesuada ex vel risus fringilla feugiat. Nulla consectetur egestas arcu, non imperdiet velit volutpat nec. Integer venenatis posuere risus, non accumsan odio blandit non.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec porttitor, ligula nec consectetur scelerisque, ipsum sem porta lacus, sed venenatis diam ante ut nibh. Donec mi leo, ultrices vel turpis id, vestibulum convallis tellus.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Donec porttitor, ligula nec consectetur scelerisque, ipsum sem porta lacus, sed venenatis diam ante ut nibh. Donec mi leo, ultrices vel turpis id, vestibulum convallis tellus.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Donec porttitor, ligula nec consectetur scelerisque, ipsum sem porta lacus, sed venenatis diam ante ut nibh. Donec mi leo, ultrices vel turpis id, vestibulum convallis tellus.
